<h1> Hello world </h1>

{% schema %}
{
  "name": "Custom Search Bar",
  "tag": "section",
  "class": "section-custom-search",
  "settings": [
    {
      "type": "select",
      "id": "default_type",
      "label": "Default Filter",
      "options": [
        { "value": "", "label": "All" },
        { "value": "product", "label": "Products" },
        { "value": "article", "label": "Articles" },
        { "value": "page", "label": "Pages" }
      ],
      "default": ""
    },
    {
      "type": "text",
      "id": "placeholder",
      "label": "Search Placeholder",
      "default": "<Search for products...>"
    }
  ]
}
{% endschema %}
