<h1> Hello world </h1>

{% schema %}
{
  "name": "Custom Search Bar",
  "settings": [
    {
      "type": "header",
      "content": "Search Filters (fill all you want; leave blank to hide)"
    },
    {
      "type": "text",
      "id": "filter1_label",
      "label": "Filter 1 Label"
    },
    {
      "type": "text",
      "id": "filter1_value",
      "label": "Filter 1 Value (e.g., product)"
    },
    {
      "type": "text",
      "id": "filter2_label",
      "label": "Filter 2 Label"
    },
    {
      "type": "text",
      "id": "filter2_value",
      "label": "Filter 2 Value"
    },
    {
      "type": "text",
      "id": "filter3_label",
      "label": "Filter 3 Label"
    },
    {
      "type": "text",
      "id": "filter3_value",
      "label": "Filter 3 Value"
    },
    {
      "type": "text",
      "id": "placeholder",
      "label": "Search Placeholder",
      "default": "<Search for products...>"
    }
  ],
  "presets": [{ "name": "Default Custom Section" }]
}
{% endschema %}
