.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 20rem;
  border: 1px solid rgba(var(--color-foreground), 0.2);
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.list-menu__item--active:hover {
  text-decoration-thickness: 0.2rem;
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}

/* Custom Header Menu Styling */
.header__menu-item {
  font-size: 1.8rem; /* Medium/Large size */
  transition: box-shadow 0.2s ease;
}

.header__menu-item:hover {
  box-shadow: inset 0 -2px 0 0 currentColor;
}

.header__menu-item span {
  border-bottom: none;
}

.header__active-menu-item {
  text-decoration: none !important;
  border-bottom: none;
}

.header__menu-item:has(.header__active-menu-item) {
   box-shadow: inset 0 -2px 0 0 currentColor;
}

.list-menu__item--active {
  text-decoration: none !important;
  
}

li.shadow:hover {
  box-shadow: inset 0 -2px 0 0 currentColor;
}

li.shadow.active {
  box-shadow: inset 0 -2px 0 0 currentColor;
}
